Product.css
.playground-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .playground-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .playground-cards {
    display: flex;
    gap: 20px;
  }
  
  .playground-card {
    background-color: #fafafaab;
    text-align: inherit;
    margin: auto;
    width: 30%;
    
  }
  
  .playground-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .card-title {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .card-description {
    font-size: 14px;
    color: #555;
  }
  
  .card-link {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
  }
  
  .card-link:hover {
    text-decoration: underline;
  }
  
  .view-all-link {
    display: block;
    margin-top: 20px;
    text-align: right;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
  }
  
  .view-all-link:hover {
    text-decoration: underline;
  }
  .button {
    float: right;
    padding: 1% 2%;
    font-size: 13px;
    background-color: #00A1C6;
    color: #fff;
    border: none;
    border-radius: 10%;
    cursor: pointer;
  
  }
  
  .service-button:hover {
    background-color: #007ba7;
  }
  