/* CardSlider.css */
.trampoline{
  font-size: 2.8rem;
}
.playground{
  font-size: 2.8rem;
}
.interactive{
  font-size: 2.8rem;
}
.slider{
  padding: 5%;
}

.slider-new1{
  margin-top: 2rem;
}
.slide-new{
  margin-top: 2rem;

}
.slider-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.slider-heading {
  text-align: center;
}

.card {
  padding: 10px;
}

.card-content {
  width: 100%;
  display: inline-block;
}

.card-image {
  width: 95%;
  height: 200px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  transition: transform 1.3s;

}
.card-image:hover {
 
  transform: translateY(-5px);
}


.card-description {
  padding: 15px;
  text-align: inherit;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text-text {
  font-size: 13px;
  color: #555;
}

.read-more-button {
  background-color: transparent;
  color: #0096C0;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 70%;
}

.view-all-link {
  display: block;
  margin-top: 20px;
  text-align: right;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  text-decoration: underline;
}





/* ...............................Responsive......................................... */

@media (min-width: 768px) and (max-width: 1024px) {
  .slider {
    padding: 3%;
  }

  .slider-container {
    padding: 15px;
  }

  .card {
    padding: 8px;
  }

  .card-image {
    width: 90%;
    height: 180px;
  }

  .card-title {
    font-size: 16px;
  }

  .card-text-text {
    font-size: 12px;
  }

  .read-more-button {
    font-size: 65%;
  }
}









@media (max-width: 480px) {
  .slider {
    padding: 10px;
  }

  .slider-container {
    padding: 10px;
    max-width: 100%;
  }

  .card {
    padding: 5px;
  }

  .card-content {
    display: block;
    text-align: center;
  }

  .card-image {
    width: 100%;
    height: auto; /* Adjust height to maintain aspect ratio */
    border-radius: 15px;
  }

  .card-description {
    padding: 10px;
    text-align: center;
  }

  .card-title {
    font-size: 16px;
  }

  .card-text {
    font-size: 12px;
  }

  .read-more-button {
    font-size: 12px;
  }

  .view-all-link {
    font-size: 12px;
    margin-top: 10px;
  }
  .slick-dots {
    position: absolute;
    bottom: -15px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
}