.body-section {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: space-between; 
}

.body-section .content {
  flex: 1; 
  text-align: left;
  color: #333; 
  gap: 5px;
  position: relative;
  top: 8rem;
  left: 3rem;
}

.body-section .content h1 {
  font-size: 4rem; 
  margin: 10px 0;
  margin-left: 10%;
  color: #0f1010; 
  margin-top: 20px;
  line-height: 1.3;
  font-weight: bold;
  gap: 1px;
}

.body-section .content p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-left: 10%;
  color: #555; 
}


.hero-image {
  width: 100%;
}
.row{
  display: flex;
  width: 100%;
}

/* Responsive Design */
/* Base styles for mobile devices */
@media (min-width: 368px) and (max-width: 768px) {
.body-section {
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  box-shadow: none; 
  padding: 20px;
}

.body-section .content {
  width: 90%; 
  height: auto; 
  text-align: center; 
  top: 0;
  left: 0;
  margin: 0; 
  padding: 10px 15px;
}

.body-section .content h1 {
  font-size: 2rem; 
  margin: 10px 0;
  line-height: 1.2;
}

.body-section .content p {
  /* font-size: 0.9rem;  */
  line-height: 1.4;
  margin: 5px 0;
}

.hero-image {
  width: 90%; 
  transform: none; 
  box-shadow: none; 
  display: none;
}

.row {
  flex-direction: column; 
  width: 100%;
}
}
/* Responsive styles for devices between 768px and 1025px */
@media (min-width: 768px) and (max-width: 1025px) {
.body-section {
  flex-direction: row; 
  align-items: flex-start; 
  justify-content: space-around; 
}

.body-section .content {
  width: 45%; 
  height: auto; 
  text-align: left; 
  position: static; 
  margin: 0 20px; 
  padding: 10px;
}

.body-section .content h1 {
  font-size: 2.5rem; 
  margin: 15px 0;
  line-height: 1.3;
}

.body-section .content p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 10px 0;
}
.hero-image {
  width: 100%; 
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
}
/* Responsive styles for devices between 1025px and 1400px */
@media (min-width: 1025px) and (max-width: 1400px) {
.body-section {
  flex-direction: row; 
  align-items: flex-start; 
  justify-content: space-around; 
}

.body-section .content {
  width: 45%; 
  height: auto;
  text-align: left; 
  position: static; 
  margin: 0 20px; 
  padding: 10px;
}

.body-section .content h1 {
  font-size: 3.1rem; 
  margin: 10px 0;
  line-height: 1.3;
  margin-left: 10%;
  margin-top: 15%;
  gap: 1px;
  width: 150%;
}

.body-section .content p {
  font-size: 1rem; 
  line-height: 1.6;
  margin: 10px 0;
  margin-left: 9%;
  width: 150%;
}

  /* width: 100%;  */
.hero-image {
    width: 89%;
    display: block;
    margin-left:12%;
}

.row {
  display: flex;
  flex-direction: row; 
  width: 100%;
}
}


